<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @post.photo_url %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.likes %>
</p>

<p>
  <strong>Dislike:</strong>
  <%= @post.dislike %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
